{% extends "layout.html"%}

{% block title%}Home - Freedom Church{% endblock%}

{% block content %}
	<section class="section">
		<div>
			<h1 class="whiteTxt"> New Freedom Christian Fellowship </h1>
			<p class="whiteTxt"> A Perfect Place for Imperfect people</p>
			<img height ="800" width="800"   src = "{{url_for('static', filename='img/testPastor.png')}}"/>
		</div>

	</section>


	<section class="section">
		<div>
			<h1> How the Church op </h1>
			<p> schduels </p>
		</div>
	</section>


	<section class="section">
		<div>
			<h1 class="whiteTxt"> our mission </h1>
			<p class="whiteTxt"> we aim to... </p>
		</div>
	</section>


	<section class="section">
		<div>
			<h1> Take action </h1>
			<p>start here </p>
		</div>
	</section>


{% endblock%}
