{% extends "layout.html"%}

{% block title%}Home - Freedom Church{% endblock%}

{% block content %}
	<section class="section hero">
		<div class="hero-overlay" >

		<h1 class="churchName "> New Freedom Christian Fellowship </h1>
			<div class="heroImg">
				<img src="static/img/testPastor.png"/>
			</div>
			<div class="hero-text">
				<p class="tagline "> A Perfect Place for Imperfect people.</p>
				<p class="subtext">Real life -Real Love -Real Family</p>
			<p class="tagline"> Pastor Mario </p>
			</div>

		</div>

	</section>


	<section class="section">
		<div>
			<h1> How the Church op </h1>
			<p> schduels </p>
		</div>
	</section>


	<section class="section">
		<div>
			<h1 class="whiteTxt"> our mission </h1>
			<p class="whiteTxt"> we aim to... </p>
		</div>
	</section>


	<section class="section">
		<div>
			<h1> Take action </h1>
			<p>start here </p>
		</div>
	</section>

{% endblock%}
